<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag "main" %>
<!-- <script>
  document.getElementById("hello123").
    addEventListener("hover", function(){
        alert("WORKS");
    });
</script> -->

<!-- <p id="notice"><%= notice %></p> -->

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/posts">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/hot">
                  <i class="em em-fire"></i>
                  Hot
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/fresh">
                  Fresh
              </a>
          </li>
        </ul>

        <div class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" id="navbar-dropdown-show" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="em em-flag-um" id="preview-flag"></i>
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-item" id="dropdown-item-option-1" href="/?en">
                  <i class="em em-flag-um"></i>
                  EN
              </div>
              <div class="dropdown-item" id="dropdown-item-option-2" href="/?bg">
                  <i class="em em-flag-bg"></i>
                  BG
              </div>
           </div>
       </div>


        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
        </form>

        <form action="/login">
            <button type="submit" class="btn" href="/login">Login</button>
        </form>
  </div>
</nav>

<% @posts.each do |post| %>
    <hr>
    <a id="post" href="/posts/<%= post.id%>">
        <div class="container">
            <div class="row mt-3">
                    <div class="col">
                        <h1 class="title"> <%= post.title %> </h3>
                        <div>
                            <p><%= post.body.first(400)%>...</p>
                        </div>
                        <div>
                            <ul class="navbar-nav d-inline">
                                <li class="nav-item d-inline mr-4">
                                    <i class="em em-arrow_up"></i>
                                    <p class="d-inline trending"> Trending </p>
                                </li>
                                <li class="nav-item d-inline mr-4">
                                    <p class="d-inline"> George Orwell</p>
                                </li>
                                <li class="nav-item d-inline mr-4">
                                    <p class="d-inline"><%= post.created_at.strftime("%d %b %y") %></p>
                                </li>
                                <li class="nav-item d-inline mr-4">
                                    <%= image_tag("verified.png", :class => "img", :alt => "Verified image") %>
                                    <i>Verified author</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="card" style="max-width: 200px">
                        <%= image_tag("orwell2.jpg", :class => "card-img-top img-fluid", :alt => "Card image") %>
                        <div class="card-footer">
                            <%= image_tag("verified.png", :class => "img", :alt => "Verified image") %>
                            <i>Verified author</i>
                        </div>
                    </div> -->
            </div>
        </div>
    </a>
    <!-- <hr> -->
<% end %>

<footer class="container-fluid footer text-center">
    <div class="row">
        <div class="footer-el col-12 col-md-6 mb-20">
            <h3>Contact Us</h3>
            <h4 class="mt-4">We need a new front-end developer</h4>
        </div>

        <div class="footer-el col-12 col-md-6">
            <h3>Connect</h3>
            <a href="#" class="sc fa fa-twitter"></a>
            <a href="#" class="sc fa fa-facebook"></a>
            <a href="#" class="sc fa fa-youtube"></a>
            <a href="#" class="sc fa fa-instagram"></a>
            <a href="#" class="sc fa fa-google"></a>
        </div>
</footer>

<!-- <%= link_to 'New Post', new_post_path %>
<%= link_to 'Commends', commends_url %> -->
